@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<section class="section pb-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Camomila</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/camomila.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Ansiedde</a></li>
                                    <li class="list-inline-item space_tag"><a>Depressão</a></li>
                                    <li class="list-inline-item space_tag"><a>Dores de cabeça</a></li>
                                    <li class="list-inline-item space_tag"><a>Hiperatividade</a></li>
                                    <li class="list-inline-item space_tag"><a>Cólicas menstruais</a></li>
                                    <li class="list-inline-item space_tag"><a>Impurezas da pele</a></li>
                                    <li class="list-inline-item space_tag"><a>Feridas</a></li>
                                    <li class="list-inline-item space_tag"><a>Enjoos</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Hortelã</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/hortela.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Mau hálito</a></li>
                                    <li class="list-inline-item space_tag"><a>Congestão nasal</a></li>
                                    <li class="list-inline-item space_tag"><a>Vermes</a></li>
                                    <li class="list-inline-item space_tag"><a>Náuseas</a></li>
                                    <li class="list-inline-item space_tag"><a>Dores musculares</a></li>
                                    <li class="list-inline-item space_tag"><a>Digestão</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Abacaxi</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/abacaxi.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Purifica o sangue</a></li>
                                    <li class="list-inline-item space_tag"><a>Fortalece os ossos</a></li>
                                    <li class="list-inline-item space_tag"><a>Aumenta himunidade</a></li>
                                    <li class="list-inline-item space_tag"><a>Artrite e reumatismo</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Canela</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/canela.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Previne diabetes</a></li>
                                    <li class="list-inline-item space_tag"><a>Antioxidante</a></li>
                                    <li class="list-inline-item space_tag"><a>Anti-inflamatório</a></li>
                                    <li class="list-inline-item space_tag"><a>Previne o câncer</a></li>
                                    <li class="list-inline-item space_tag"><a><b>-</b> Colesterol ruim</a></li>
                                    <li class="list-inline-item space_tag"><a><b>+</b> Colesterol bom</a></li>
                                    <li class="list-inline-item space_tag"><a>Regula o açucar no sangue</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Limão</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/limao.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Digestão</a></li>
                                    <li class="list-inline-item space_tag"><a>Faz bem aos dentes</a></li>
                                    <li class="list-inline-item space_tag"><a>Perda de peso</a></li>
                                    <li class="list-inline-item space_tag"><a>Pressão sanguínea</a></li>
                                    <li class="list-inline-item space_tag"><a>Disturbios respiratórios</a></li>
                                    <li class="list-inline-item space_tag"><a>Inflamações da garganta</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Boldo</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/boldo.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Bom para o fígado</a></li>
                                    <li class="list-inline-item space_tag"><a>Gastrite</a></li>
                                    <li class="list-inline-item space_tag"><a>Sistema imunológico</a></li>
                                    <li class="list-inline-item space_tag"><a>Diminui a azia</a></li>
                                    <li class="list-inline-item space_tag"><a>Diminui gases</a></li>
                                    <li class="list-inline-item space_tag"><a>Diminui inchaço</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Alecrim</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/alecrim.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Previne câncer</a></li>
                                    <li class="list-inline-item space_tag"><a>Limpa o fígado</a></li>
                                    <li class="list-inline-item space_tag"><a>Problemas bucais</a></li>
                                    <li class="list-inline-item space_tag"><a>Limpa o fígado</a></li>
                                    <li class="list-inline-item space_tag"><a>Cólicas</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Valeriana</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/valeriana.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Memória</a></li>
                                    <li class="list-inline-item space_tag"><a>Desintoxica o corpo</a></li>
                                    <li class="list-inline-item space_tag"><a>Relaxa os músculos</a></li>
                                    <li class="list-inline-item space_tag"><a>Reduz a pressão arterial</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5">
                <h2 class="h5 section-title">Uva</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="images/chas/uva.png" class="card-img-top borda_circle_2 space_down" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="#">Curas</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item space_tag"><a>Envelhecimento</a></li>
                                    <li class="list-inline-item space_tag"><a>Enxaquecas</a></li>
                                    <li class="list-inline-item space_tag"><a>Saúde cerebral</a></li>
                                    <li class="list-inline-item space_tag"><a>Tons de pele</a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr><a href="#" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </article>
            </div>

            <div class="col-12">
                <div class="border-bottom border-default"></div>
            </div>
        </div>
    </div>
</section>
